@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 200 86% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 85.1%;
    --input: 215 20.2% 85.1%;
    --ring: 200 86% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 202 38% 10%;
    --foreground: 0 0% 98%;
    --card: 202 38% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 202 38% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 200 86% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 222 27% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 47.4% 11.2%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 222 47.4% 11.2%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 27% 18%;
    --input: 222 27% 18%;
    --ring: 200 86% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
}
